.App {
  text-align: center;
}


.App-body {
  background-color: #e2f0f2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #ccd0cf;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px;
}
